$siteColor: #c12038;
$textColor: #000000;
$light: Nunito-Light;
$bold: Nunito-Bold;
$semiBold: Nunito-SemiBold;
$extraBold: Nunito-ExtraBold;
$regular: Nunito-Regular;
$siteRadius10: 10px;
$siteRadius5: 5px;

@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}

@mixin flex-between($prop) {
  display: $prop;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center($prop) {
  display: $prop;
  align-items: center;
  justify-content: center;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

@mixin ellipsis-text($prop) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: $prop;
  -webkit-line-clamp: $prop;
  -webkit-box-orient: vertical;
}

@mixin full-image($prop) {
  width: $prop;
  height: $prop;
  object-fit: cover;
}

//loop h tags

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $regular;
    margin: 0px;
    color: $textColor;
  }
}
.hidden {
  overflow: hidden !important;
}

body {
  margin: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  transition: 0.3s;
  overflow-x: hidden;
  .bg_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-image: url(../images/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  * {
    box-sizing: border-box;
  }
  &::-webkit-scrollbar {
    width: 4px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    border-radius: $siteRadius5;
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background: $siteColor;
    border-radius: $siteRadius5;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $siteColor;
  }
  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0px;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
    &::placeholder {
      color: #bdbdbd;
    }
  }
  button,
  input,
  textarea {
    border: none;
    background-color: transparent;
    padding: 0px;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
    &:focus {
      outline: none;
      border: none;
      background-color: none;
      box-shadow: none;
    }
  }
  select {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    background: transparent;
    background-image: url(../images/icons/select_arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    cursor: pointer;
    border: none;
    padding-right: 20px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  a {
    &:hover {
      opacity: 0.7;
    }
  }
  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }
  div {
    -webkit-tap-highlight-color: transparent;
  }
  p,
  span,
  strong,
  label,
  select,
  textarea,
  pre,
  input,
  button,
  a {
    -webkit-tap-highlight-color: transparent;
    font-family: $semiBold;
    margin: 0px;
    padding: 0px;
    color: $textColor;
  }
  a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    display: block;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  .container {
    max-width: 1300px;
    display: block;
    margin: 0px auto;
    width: 100%;
  }
  .mt-site {
    margin-top: 30px;
  }
  .mb-site {
    margin-bottom: 30px;
  }
  .mt-block {
    margin-top: 100px;
  }
  .mb-block {
    margin-bottom: 100px;
  }
  .brands_section {
    background-color: #fff;
    padding: 70px 0px;
    .container {
      .brands_view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .item {
          width: 200px;
          height: 100px;
          @include flex-center(flex);
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
          a {
            opacity: 1;
          }
          img {
            width: 100%;
          }
          &:not(:nth-child(3n + 3)) {
            margin-right: 350px;
          }
          &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 70px;
          }
        }
      }
    }
  }
  .about_section {
    background-color: #f9f9f9;
    padding: 40px 0px;
    .about_title {
      font-size: 40px;
      margin-bottom: 16px;
    }
    .about_content {
      font-size: 24px;
      font-family: $regular;
    }
  }
  .section_header {
    margin: 60px 0px;
    .title_section {
      font-size: 46px;
      border-bottom: 2px solid $siteColor;
      width: 100%;
      padding-bottom: 16px;
    }
  }
  .products_section {
    .container {
      .items {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .item {
          width: 420px;
          &:hover {
            opacity: 1;
          }
          &:not(:nth-child(3n + 3)) {
            margin-right: 20px;
          }
          &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 60px;
          }
          .img_view {
            width: 100%;
            height: 283px;
            margin-bottom: 16px;
            overflow: hidden;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 59.37%,
              #000000 100%
            );
            position: relative;
            &:hover {
              img {
                transform: scale(1.1);
              }
            }
            img {
              @include full-image(100%);
              transition: 0.3s;
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: -1;
            }
          }
          .content_view {
            .title {
              font-size: 28px;
              font-family: $semiBold;
              @include ellipsis-text(2);
              margin-bottom: 8px;
            }
            .content {
              font-size: 22px;
              color: #5f5f5f;
              @include ellipsis-text(3);
              margin-bottom: 9px;
            }
            .date {
              font-size: 16px;
              color: #7d7d7d;
            }
          }
        }
      }
    }
  }
  .see_all_view {
    @include flex-center(flex);
    margin: 60px 0px;
    .btn_see_all {
      border: 2px solid $siteColor;
      border-radius: $siteRadius10;
      height: 57px;
      padding: 0px 20px;
      font-size: 24px;
      @include flex-center(flex);
      transition: 0.3s;
      &:hover {
        background-color: $siteColor;
        color: #fff;
        opacity: 1;
      }
    }
  }
  .share_view {
    @include flex-center(flex);
    margin: 120px 0px;
    position: relative;
    .btn_share {
      border: 2px solid $siteColor;
      border-radius: $siteRadius10;
      height: 57px;
      padding: 0px 20px;
      font-size: 24px;
      @include flex-center(flex);
      &:hover {
        background-color: $siteColor;
        color: #fff;
        opacity: 1;
      }
    }
    .social_links_container {
      display: none;
      position: absolute;
      top: -65px;
      left: 50%;
      transform: translate(-50%, 0%);
      .social_links_view {
        @include flex-between(flex);
        background-color: $siteColor;
        border-radius: 20px;
        height: 50px;
        padding: 0px 12px;
        min-width: 200px;
        li {
          &:hover {
            a {
              svg {
                transform: scale(1.2);
              }
            }
          }
          a {
            opacity: 1;
            svg {
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  .screen_header_image {
    margin-top: 40px;
    .container {
      .inner {
        border-radius: 20px;
        overflow: hidden;
        height: 500px;
        width: 100%;
        position: relative;
        @include flex-center(flex);
        .logo_inner {
          position: relative;
          z-index: 2;
          width: 40%;
        }
        .img_inner {
          @include full-image(100%);
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
        }
        .overlay {
          @include full-image(100%);
          opacity: 0.25;
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #000;
          z-index: 2;
        }
      }
    }
  }
  .screen_content_section {
    margin-top: 70px;
    .container {
      .title_section {
        font-size: 60px;
        color: $siteColor;
        margin-bottom: 24px;
      }
      .content_section {
        font-size: 22px;
      }
    }
  }
  .prefers_section {
    margin-top: 40px;
    .container {
      .items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        .item {
          width: 420px;
          height: 180px;
          overflow: hidden;
          border-radius: 20px;
          position: relative;
          opacity: 1;
          &:hover {
            img {
              transform: scale(1.2);
            }
          }
          &:not(:nth-child(3n + 3)) {
            margin-right: 20px;
          }
          &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 20px;
          }
          img {
            @include full-image(100%);
            position: absolute;
            top: 0px;
            left: 0px;
            transition: 0.3s;
          }
          .content_view {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 19.79%,
              #000000 100%
            );
            align-items: flex-end;
            display: flex;
            padding: 16px;
            .content_text {
              font-size: 24px;
              color: #fff;
              text-align: center;
              width: 100%;
              @include ellipsis-text(3);
            }
          }
        }
      }
    }
  }
  .foods_carousel_section {
    margin-top: 60px;
    overflow: hidden;
    .container {
      .owl-carousel {
        .owl-nav {
          @include flex-center(flex);
          margin-top: 45px;
          button {
            width: 30px;
            height: 30px;
            background-color: transparent;
            background-image: url(../icons/carouselArrow.svg);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            span {
              display: none;
            }
            &.owl-prev {
              transform: rotate(180deg);
              left: -30px;
              position: relative;
            }
            &.owl-next {
              right: -30px;
              position: relative;
            }
          }
        }
        .owl-stage-outer {
          overflow: visible;
        }
        .item {
          width: 420px;
          height: 420px;
          opacity: 1;
          img {
            @include full-image(100%);
          }
        }
      }
    }
    .with_content {
      .owl-carousel {
        .owl-nav {
          display: none !important;
        }
        .item {
          height: auto;
          img {
            height: 283px;
          }
          .content_view {
            .title {
              font-size: 28px;
              font-family: $semiBold;
              margin-top: 16px;
              @include ellipsis-text(2);
            }
            .content {
              margin-top: 8px;
              @include ellipsis-text(2);
              color: #5f5f5f;
            }
          }
        }
      }
    }
  }
  .form_section {
    margin: 80px 0px;
    .container {
      .label_form {
        font-size: 26px;
        margin-bottom: 16px;
      }
      .contact_form {
        width: 67%;
        input {
          border: 2px solid $siteColor;
          border-radius: $siteRadius10;
          height: 55px;
          width: 100%;
          padding: 0px 20px;
          &::placeholder {
            color: #a4a4a4;
          }
        }
        textarea {
          border: 2px solid $siteColor;
          border-radius: $siteRadius10;
          height: 321px;
          width: 100%;
          padding: 20px;
          resize: none;
          margin-top: 16px;
          &::placeholder {
            color: #a4a4a4;
          }
        }
        .two_column_input {
          @include flex-between(flex);
          input {
            width: 49%;
          }
        }
        .send_view {
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
          .btn_send {
            background-color: $siteColor;
            min-width: 220px;
            border-radius: $siteRadius10;
            overflow: hidden;
            padding: 0px 20px;
            color: #fff;
            height: 48px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .map_section {
    .map_container {
      height: 500px;
      border-radius: 20px;
      border: 3px solid $siteColor;
      overflow: hidden;
      .map {
        width: 100%;
        height: 100%;
      }
    }
  }
  .branches_section {
    background-color: $siteColor;
    padding: 60px 0px;
    margin-top: 100px;
    .container {
      .branches_head {
        @include flex-between(flex);
        .title_branches {
          font-size: 48px;
          color: #fff;
          font-family: $semiBold;
        }
        .right_column {
          display: flex;
          flex-direction: row;
          align-items: center;
          .rate_us_btn {
            width: 144px;
            height: 37px;
            display: block;
            color: #fff;
            font-family: $semiBold;
            border: 2px solid #fff;
            border-radius: 20px;
            @include flex-center(flex);
          }
          .middle_label {
            color: #fff;
            font-size: 18px;
            display: block;
            margin: 0px 20px;
          }
          .logo_rate {
            max-width: 150px;
          }
        }
      }
      .branches_bottom {
        margin-top: 50px;
        .items {
          @include flex-between(flex);
          .item {
            width: 22%;
            position: relative;
            &:not(:last-child) {
              // border-right: 1px solid #fff;
              &::before {
                content: "";
                height: 50%;
                width: 2px;
                background-color: #fff;
                border-radius: $siteRadius10;
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translate(0%, -50%);
                transition: 0.3s;
                z-index: 10;
              }
            }
            .title_item {
              color: #fff;
              font-family: $semiBold;
              font-size: 24px;
              margin-bottom: 16px;
              @include ellipsis-text(1);
            }
            .info_item {
              color: #fff;
              margin-bottom: 8px;
              font-size: 16px;
              @include ellipsis-text(3);
            }
          }
        }
      }
    }
  }
  header {
    .header_inner {
      background-color: $siteColor;
      .container {
        @include flex-between(flex);
        min-height: 95px;
        .header_logo {
          .logo_img {
            width: 184px;
            height: 64px;
            position: relative;
            top: 4px;
          }
        }
        .language_col {
          position: relative;
          .btn_language {
            font-size: 22px;
            color: #fff;
            opacity: 1;
          }
          .language_overlay {
            display: none;
            position: absolute;
            z-index: 100;
            top: 35px;
            left: -5px;
            background-color: $siteColor;
            border-radius: 3px;
            padding: 5px;
            border: 1px solid #fff;
            border-radius: $siteRadius10;
            ul {
              li {
                .text_language {
                  font-size: 22px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .home_header_image {
      height: 450px;
      position: relative;
      background: linear-gradient(
        180deg,
        #c12038 0%,
        rgba(194, 99, 113, 0.59375) 39.06%,
        rgba(0, 0, 0, 0) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
      .header_img_background {
        position: absolute;
        top: 0px;
        left: 0px;
        @include full-image(100%);
        z-index: -1;
      }
      .header_img_content {
        font-size: 55px;
        color: #fff;
        width: 55%;
        @include ellipsis-text(6);
      }
    }
  }
  footer {
    background-color: #1a1a1a;
    padding: 50px 0px;
    margin-top: 30px;
    position: relative;
    overflow-x: clip;
    .ellipse_footer {
      position: absolute;
      z-index: -1;
      background: #c82437;
      filter: blur(80px);
      display: block;
      width: 300px;
      height: 300px;
    }
    .left_ellipse {
      top: -70px;
      left: -177px;
    }
    .right_ellipse {
      top: -70px;
      right: -177px;
    }
    #scroll-top {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      font-size: 32px;
      border-radius: 100%;
      cursor: pointer;
      transition: 0s;
    }
    .footer_top {
      .owl-carousel {
        .item {
          min-height: 80px;
          @include flex-center(flex);
          img {
            max-width: 160px;
          }
        }
      }
    }
    .footer_center {
      margin-top: 110px;
      @include flex-between(flex);
      .left {
        width: 30%;
        .download_text {
          font-size: 18px;
          color: #fff;
          margin-bottom: 10px;
        }
        .download_col {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          .item {
            margin-right: 16px;
            svg {
              width: 100%;
            }
          }
        }
      }
      .center {
        width: 30%;
        .footer_center_title {
          color: #fff;
          font-size: 20px;
          margin-bottom: 16px;
          display: block;
        }
        .footer_contact_inner {
          display: flex;
          align-items: center;
          .footer_phone_text {
            color: #fff;
            margin-bottom: 4px;
            margin-right: 30px;
          }
        }
      }
      .right {
        width: 30%;
        .footer_right_title {
          font-size: 20px;
          color: #fff;
          margin-bottom: 16px;
          display: block;
        }
        .footer_subscribe_form {
          width: 100%;
          display: flex;
          align-items: center;
          input {
            width: 65%;
            height: 45px;
            background-color: #272727;
            padding: 0px 16px;
            font-size: 18px;
            color: #fff;
          }
          .btn_submit {
            width: 35%;
            height: 45px;
            padding: 0px 20px;
            background-color: $siteColor;
            color: #fff;
            font-size: 18px;
          }
        }
      }
    }
    .footer_bottom {
      margin-top: 160px;
      @include flex-between(flex);
      .left {
        width: 30%;
        .copyright_text {
          font-size: 18px;
          color: #aeaeae;
        }
      }
      .center {
        width: 30%;
        .social_links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            transition: 0.3s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
      .right {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}
