$siteColor: #c12038;
$textColor: #000000;
$light: Nunito-Light;
$bold: Nunito-Bold;
$semiBold: Nunito-SemiBold;
$extraBold: Nunito-ExtraBold;
$regular: Nunito-Regular;
$siteRadius10: 10px;
$siteRadius5: 5px;

@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}

@mixin flex-between($prop) {
  display: $prop;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center($prop) {
  display: $prop;
  align-items: center;
  justify-content: center;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

@media screen and (max-width: 1300px) {
  body {
    .container {
      max-width: 1000px;
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-last-child(-n + 3)) {
            }
            &:not(:nth-child(3n + 3)) {
              margin-right: 200px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 320px;
          }
        }
      }
    }
    main {
    }
  }
}

@media screen and (max-width: 1300px) {
  body {
    .container {
      max-width: 1000px;
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-child(3n + 3)) {
              margin-right: 200px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 320px;
          }
        }
      }
    }
    main {
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    .container {
      max-width: 764px;
    }
    header {
      .home_header_image {
        .header_img_content {
          font-size: 40px;
        }
      }
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-child(3n + 3)) {
              margin-right: 82px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          justify-content: space-between;
          .item {
            width: 48%;
            &:not(:nth-child(3n + 3)) {
              margin-right: 0px;
            }
            &:not(:nth-last-child(-n + 3)) {
              margin-bottom: 0px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    main {
    }
  }
}

@media screen and (max-width: 764px) {
  body {
    .container {
      max-width: 764px;
      padding: 0px 20px;
    }
    header {
      .header_inner {
        .container {
          height: 65px;
          .header_logo {
            .logo_img {
              width: 116px;
              height: 40px;
            }
          }
          .language_col {
            .btn_language {
              font-size: 16px;
            }
            .language_overlay {
              ul {
                li {
                  .text_language {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .home_header_image {
        height: 220px;
        .header_img_content {
          font-size: 28px;
          width: 90%;
        }
      }
    }
    .brands_section {
      padding: 40px 0px;
      .container {
        .brands_view {
          justify-content: space-between;
          align-items: center;
          .item {
            width: 46%;
            height: 80px;
            &:not(:nth-child(3n + 3)) {
              margin-right: 0px;
            }
            &:not(:nth-last-child(-n + 3)) {
              margin-bottom: 0px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    .about_section {
      padding: 20px 0px;
      .about_title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .about_content {
        font-size: 18px;
      }
    }
    .section_header {
      margin: 20px 0px 10px 0px;
      .title_section {
        font-size: 24px;
        border-bottom: 0px;
        padding-bottom: 0px;
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 100%;
            margin-bottom: 20px;
            .img_view {
              height: 60vw;
              margin-bottom: 8px;
            }
            .content_view {
              .title {
                font-size: 20px;
                margin-bottom: 3px;
              }
              .content {
                font-size: 16px;
                margin-bottom: 6px;
              }
              .date {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .see_all_view {
      margin: 30px 0px;
      .btn_see_all {
        height: 40px;
        font-size: 16px;
      }
    }
    footer {
      padding: 30px 0px;
      #scroll-top {
        display: none !important;
      }
      .footer_center {
        flex-direction: column;
        margin-top: 30px;
        .left {
          width: 100%;
        }
        .center {
          width: 100%;
          margin-top: 30px;
        }
        .right {
          margin-top: 30px;
          width: 100%;
        }
      }
      .footer_bottom {
        margin-top: 30px;
        flex-direction: column;
        .left {
          width: 100%;
        }
        .center {
          width: 100%;
          margin-top: 30px;
        }
        .right {
          margin-top: 30px;
          width: 100%;
          justify-content: flex-start;
        }
      }
      .left_ellipse {
        top: -30px;
        left: -200px;
      }
      .right_ellipse {
        top: -30px;
        right: -200px;
      }
    }
  }
}
