@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
}
@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}
@media screen and (max-width: 1300px) {
  body .container {
    max-width: 1000px;
  }
  body .brands_section .container .brands_view .item:not(:nth-child(3n+3)) {
    margin-right: 200px;
  }
  body .products_section .container .items .item {
    width: 320px;
  }
  body .screen_header_image .container .inner {
    height: 420px;
  }
  body .screen_content_section .container .title_section {
    font-size: 50px;
  }
  body .screen_content_section .container .content_section {
    font-size: 18px;
  }
  body .foods_carousel_section .container .owl-carousel .item {
    width: 250px;
    height: 235px;
  }
  body .prefers_section .container .items .item {
    width: 320px;
  }
  body .branches_section .container .branches_head .title_branches {
    font-size: 40px;
  }
  body .branches_section .container .branches_bottom .items .item .title_item {
    font-size: 22px;
  }
  body .branches_section .container .branches_bottom .items .item .info_item {
    font-size: 14px;
  }
  body .section_header .title_section {
    font-size: 40px;
  }
  body .map_section .map_container {
    height: 450px;
  }
  body .share_view {
    margin: 120px 0px 0px 0px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item img {
    height: 165px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item .content_view .title {
    font-size: 20px;
    margin-top: 8px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item .content_view .content {
    margin-top: 2px;
  }
}
@media screen and (max-width: 1000px) {
  body .container {
    max-width: 764px;
  }
  body .home_header_image .header_img_content {
    font-size: 40px;
  }
  body .brands_section .container .brands_view .item:not(:nth-child(3n+3)) {
    margin-right: 82px;
  }
  body .products_section .container .items {
    justify-content: space-between;
  }
  body .products_section .container .items .item {
    width: 48%;
  }
  body .products_section .container .items .item:not(:nth-child(3n+3)) {
    margin-right: 0px;
  }
  body .products_section .container .items .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0px;
  }
  body .products_section .container .items .item:not(:nth-last-child(-n+2)) {
    margin-bottom: 40px;
  }
  body .screen_header_image .container .inner {
    height: 350px;
  }
  body .screen_header_image .container .inner .logo_inner {
    width: 32%;
  }
  body .foods_carousel_section .container .owl-carousel .item {
    width: 190px;
    height: 130px;
  }
  body .screen_content_section {
    margin-top: 40px;
  }
  body .screen_content_section .container .title_section {
    font-size: 40px;
  }
  body .prefers_section .container .items .item {
    width: 241px;
  }
  body .prefers_section .container .items .item .content_view .content_text {
    font-size: 20px;
  }
  body .form_section .container .contact_form {
    width: 100%;
  }
  body .form_section .container .contact_form textarea {
    height: 250px;
  }
  body .map_section .map_container {
    height: 380px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item {
    height: 210px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item img {
    height: 130px;
  }
}
@media screen and (max-width: 764px) {
  body .container {
    max-width: 764px;
    padding: 0px 20px;
  }
  body .home_header_image {
    height: 220px;
  }
  body .home_header_image .header_img_content {
    font-size: 28px;
    width: 90%;
  }
  body header .header_inner .container {
    height: 65px;
  }
  body header .header_inner .container .header_logo .logo_img {
    width: 116px;
    height: 40px;
  }
  body header .header_inner .container .language_col .btn_language {
    font-size: 16px;
  }
  body header .header_inner .container .language_col .language_overlay ul li .text_language {
    font-size: 16px;
  }
  body .brands_section {
    padding: 40px 0px;
  }
  body .brands_section .container .brands_view {
    justify-content: space-between;
    align-items: center;
  }
  body .brands_section .container .brands_view .item {
    width: 46%;
    height: 80px;
  }
  body .brands_section .container .brands_view .item:not(:nth-child(3n+3)) {
    margin-right: 0px;
  }
  body .brands_section .container .brands_view .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0px;
  }
  body .brands_section .container .brands_view .item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  body .about_section {
    padding: 20px 0px;
  }
  body .about_section .about_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  body .about_section .about_content {
    font-size: 18px;
  }
  body .section_header {
    margin: 40px 0px 10px 0px;
  }
  body .section_header .title_section {
    font-size: 24px;
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  body .products_section .container .items .item {
    width: 100%;
    margin-bottom: 20px !important;
  }
  body .products_section .container .items .item .img_view {
    height: 60vw;
    margin-bottom: 16px;
  }
  body .products_section .container .items .item .content_view .title {
    font-size: 20px;
    margin-bottom: 3px;
  }
  body .products_section .container .items .item .content_view .content {
    font-size: 16px;
    margin-bottom: 6px;
  }
  body .products_section .container .items .item .content_view .date {
    font-size: 14px;
  }
  body .see_all_view {
    margin: 30px 0px;
  }
  body .see_all_view .btn_see_all {
    height: 40px;
    font-size: 16px;
  }
  body .form_section .container .contact_form .send_view .btn_send {
    width: 100%;
  }
  body .share_view {
    margin: 80px 0px 0px 0px;
  }
  body .share_view .btn_share {
    height: 40px;
    font-size: 16px;
  }
  body .share_view .social_links_container .social_links_view {
    height: 45;
  }
  body .foods_carousel_section {
    margin-top: 30px;
  }
  body .foods_carousel_section .container .owl-carousel .item {
    width: 31vw;
    height: 28vw;
  }
  body .foods_carousel_section .container .owl-carousel .owl-nav {
    margin-top: 20px;
  }
  body .foods_carousel_section .container .owl-carousel .owl-nav button {
    width: 20px;
    height: 20px;
  }
  body .foods_carousel_section .container .owl-carousel .owl-nav button.owl-prev {
    left: -16px;
  }
  body .foods_carousel_section .container .owl-carousel .owl-nav button.owl-next {
    right: -16px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item {
    width: 31vw;
    height: 47vw;
  }
  body .foods_carousel_section .with_content .owl-carousel .item img {
    height: 28vw;
  }
  body .foods_carousel_section .with_content .owl-carousel .item .content_view .title {
    font-size: 14px;
  }
  body .foods_carousel_section .with_content .owl-carousel .item .content_view .content {
    font-size: 12px;
  }
  body .prefers_section .container .items {
    justify-content: space-between;
  }
  body .prefers_section .container .items .item {
    width: 48%;
    height: 90px;
    margin-bottom: 12px !important;
  }
  body .prefers_section .container .items .item:not(:nth-child(3n+3)) {
    margin-right: 0px;
  }
  body .prefers_section .container .items .item .content_view .content_text {
    font-size: 12px;
  }
  body .branches_section {
    padding: 30px 0px;
    margin-top: 40px;
  }
  body .branches_section .container {
    padding: 0px;
  }
  body .branches_section .container .branches_head {
    padding: 0px 20px;
  }
  body .branches_section .container .branches_head .title_branches {
    font-size: 28px;
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  body .branches_section .container .branches_head .right_column {
    display: none;
  }
  body .branches_section .container .branches_bottom {
    margin-top: 30px;
  }
  body .branches_section .container .branches_bottom .items {
    flex-direction: column;
  }
  body .branches_section .container .branches_bottom .items .item {
    width: 100%;
    padding: 20px;
  }
  body .branches_section .container .branches_bottom .items .item::before {
    display: none;
  }
  body .branches_section .container .branches_bottom .items .item:nth-child(odd) {
    background-color: #b81930;
  }
  body .branches_section .container .branches_bottom .items .item .title_item {
    font-size: 18px;
    margin-bottom: 12px;
  }
  body .map_section .map_container {
    height: 250px;
  }
  body .mt-block {
    margin-top: 40px;
  }
  body .screen_header_image .container .inner {
    height: 50vw;
  }
  body .screen_content_section {
    margin-top: 30px;
  }
  body .screen_content_section .container .title_section {
    font-size: 30px;
    margin-bottom: 12px;
  }
  body .form_section {
    margin: 50px 0px;
  }
  body .form_section .container .label_form {
    font-size: 22px;
  }
  body .form_section .container .contact_form textarea {
    height: 200px;
  }
  body footer {
    padding: 30px 0px;
  }
  body footer #scroll-top {
    display: none !important;
  }
  body footer .footer_center {
    flex-direction: column;
    margin-top: 30px;
  }
  body footer .footer_center .left {
    width: 100%;
  }
  body footer .footer_center .center {
    width: 100%;
    margin-top: 30px;
  }
  body footer .footer_center .right {
    margin-top: 30px;
    width: 100%;
  }
  body footer .footer_bottom {
    margin-top: 30px;
    flex-direction: column;
  }
  body footer .footer_bottom .left {
    width: 100%;
  }
  body footer .footer_bottom .center {
    width: 100%;
    margin-top: 30px;
  }
  body footer .footer_bottom .right {
    margin-top: 30px;
    width: 100%;
    justify-content: flex-start;
  }
  body footer .left_ellipse {
    top: -30px;
    left: -200px;
  }
  body footer .right_ellipse {
    top: -30px;
    right: -200px;
  }
}/*# sourceMappingURL=media.css.map */