$siteColor: #c12038;
$textColor: #000000;
$light: Nunito-Light;
$bold: Nunito-Bold;
$semiBold: Nunito-SemiBold;
$extraBold: Nunito-ExtraBold;
$regular: Nunito-Regular;
$siteRadius10: 10px;
$siteRadius5: 5px;

@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}

@mixin flex-between($prop) {
  display: $prop;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center($prop) {
  display: $prop;
  align-items: center;
  justify-content: center;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

@media screen and (max-width: 1300px) {
  body {
    .container {
      max-width: 1000px;
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-last-child(-n + 3)) {
            }
            &:not(:nth-child(3n + 3)) {
              margin-right: 200px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 320px;
          }
        }
      }
    }
    main {
    }
  }
}

@media screen and (max-width: 1300px) {
  body {
    .container {
      max-width: 1000px;
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-child(3n + 3)) {
              margin-right: 200px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 320px;
          }
        }
      }
    }
    .screen_header_image {
      .container {
        .inner {
          height: 420px;
        }
      }
    }
    .screen_content_section {
      .container {
        .title_section {
          font-size: 50px;
        }
        .content_section {
          font-size: 18px;
        }
      }
    }
    .foods_carousel_section {
      .container {
        .owl-carousel {
          .item {
            width: 250px;
            height: 220px;
          }
        }
      }
    }
    .prefers_section {
      .container {
        .items {
          .item {
            width: 320px;
          }
        }
      }
    }
    .branches_section {
      .container {
        .branches_head {
          .title_branches {
            font-size: 40px;
          }
        }
        .branches_bottom {
          .items {
            .item {
              .title_item {
                font-size: 22px;
              }
              .info_item {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .section_header {
      .title_section {
        font-size: 40px;
      }
    }
    .map_section {
      .map_container {
        height: 450px;
      }
    }
    .share_view {
      margin: 120px 0px 0px 0px;
    }
    .foods_carousel_section {
      .with_content {
        .owl-carousel {
          .item {
            img {
              height: 165px;
            }
            .content_view {
              .title {
                font-size: 20px;
                margin-top: 8px;
              }
              .content {
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    .container {
      max-width: 764px;
    }
    header {
      .home_header_image {
        .header_img_content {
          font-size: 40px;
        }
      }
    }
    .brands_section {
      .container {
        .brands_view {
          .item {
            &:not(:nth-child(3n + 3)) {
              margin-right: 82px;
            }
          }
        }
      }
    }
    .products_section {
      .container {
        .items {
          justify-content: space-between;
          .item {
            width: 48%;
            &:not(:nth-child(3n + 3)) {
              margin-right: 0px;
            }
            &:not(:nth-last-child(-n + 3)) {
              margin-bottom: 0px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    .screen_header_image {
      .container {
        .inner {
          height: 350px;
          .logo_inner {
            width: 32%;
          }
        }
      }
    }
    .foods_carousel_section {
      .container {
        .owl-carousel {
          .item {
            width: 190px;
            height: 130px;
          }
        }
      }
    }
    .screen_content_section {
      margin-top: 40px;
      .container {
        .title_section {
          font-size: 40px;
        }
      }
    }
    .prefers_section {
      .container {
        .items {
          .item {
            width: 241px;
            .content_view {
              .content_text {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .form_section {
      .container {
        .contact_form {
          width: 100%;
          textarea {
            height: 250px;
          }
        }
      }
    }
    .map_section {
      .map_container {
        height: 380px;
      }
    }
    .foods_carousel_section {
      .with_content {
        .owl-carousel {
          .item {
            height: 210px;
            img {
              height: 130px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 764px) {
  body {
    .container {
      max-width: 764px;
      padding: 0px 20px;
    }
    header {
      .header_inner {
        .container {
          height: 65px;
          .header_logo {
            .logo_img {
              width: 116px;
              height: 40px;
            }
          }
          .language_col {
            .btn_language {
              font-size: 16px;
            }
            .language_overlay {
              ul {
                li {
                  .text_language {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .home_header_image {
        height: 220px;
        .header_img_content {
          font-size: 28px;
          width: 90%;
        }
      }
    }
    .brands_section {
      padding: 40px 0px;
      .container {
        .brands_view {
          justify-content: space-between;
          align-items: center;
          .item {
            width: 46%;
            height: 80px;
            &:not(:nth-child(3n + 3)) {
              margin-right: 0px;
            }
            &:not(:nth-last-child(-n + 3)) {
              margin-bottom: 0px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    .about_section {
      padding: 20px 0px;
      .about_title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .about_content {
        font-size: 18px;
      }
    }
    .section_header {
      margin: 40px 0px 10px 0px;
      .title_section {
        font-size: 24px;
        border-bottom: 0px;
        padding-bottom: 0px;
      }
    }
    .products_section {
      .container {
        .items {
          .item {
            width: 100%;
            margin-bottom: 20px !important;
            .img_view {
              height: 60vw;
              margin-bottom: 16px;
            }
            .content_view {
              .title {
                font-size: 20px;
                margin-bottom: 3px;
              }
              .content {
                font-size: 16px;
                margin-bottom: 6px;
              }
              .date {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .see_all_view {
      margin: 30px 0px;
      .btn_see_all {
        height: 40px;
        font-size: 16px;
      }
    }
    .form_section {
      .container {
        .contact_form {
          .send_view {
            .btn_send {
              width: 100%;
            }
          }
        }
      }
    }
    .share_view {
      margin: 80px 0px 0px 0px;
      .btn_share {
        height: 40px;
        font-size: 16px;
      }
      .social_links_container {
        .social_links_view {
          height: 45;
        }
      }
    }
    .foods_carousel_section {
      margin-top: 30px;
      .container {
        .owl-carousel {
          .item {
            width: 31vw;
            height: 28vw;
          }
          .owl-nav {
            margin-top: 20px;
            button {
              width: 20px;
              height: 20px;
              &.owl-prev {
                left: -16px;
              }
              &.owl-next {
                right: -16px;
              }
            }
          }
        }
      }
      .with_content {
        .owl-carousel {
          .item {
            width: 31vw;
            height: 47vw;
            img {
              height: 28vw;
            }
            .content_view {
              .title {
                font-size: 14px;
              }
              .content {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .prefers_section {
      .container {
        .items {
          justify-content: space-between;
          .item {
            width: 48%;
            height: 90px;
            margin-bottom: 12px !important;
            &:not(:nth-child(3n + 3)) {
              margin-right: 0px;
            }
            .content_view {
              .content_text {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .branches_section {
      padding: 30px 0px;
      margin-top: 40px;
      .container {
        padding: 0px;
        .branches_head {
          padding: 0px 20px;
          .title_branches {
            font-size: 28px;
            border-bottom: 2px solid #fff;
            width: 100%;
          }
          .right_column {
            display: none;
          }
        }
        .branches_bottom {
          margin-top: 30px;
          .items {
            flex-direction: column;
            .item {
              width: 100%;
              padding: 20px;
              &::before {
                display: none;
              }
              &:nth-child(odd) {
                background-color: #b81930;
              }
              .title_item {
                font-size: 18px;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    .map_section {
      .map_container {
        height: 250px;
      }
    }
    .mt-block {
      margin-top: 40px;
    }
    .screen_header_image {
      .container {
        .inner {
          height: 50vw;
        }
      }
    }
    .screen_content_section {
      margin-top: 30px;
      .container {
        .title_section {
          font-size: 30px;
          margin-bottom: 12px;
        }
      }
    }
    .form_section {
      margin: 50px 0px;
      .container {
        .label_form {
          font-size: 22px;
        }
        .contact_form {
          textarea {
            height: 200px;
          }
        }
      }
    }
    footer {
      padding: 30px 0px;
      #scroll-top {
        display: none !important;
      }
      .footer_center {
        flex-direction: column;
        margin-top: 30px;
        .left {
          width: 100%;
        }
        .center {
          width: 100%;
          margin-top: 30px;
        }
        .right {
          margin-top: 30px;
          width: 100%;
        }
      }
      .footer_bottom {
        margin-top: 30px;
        flex-direction: column;
        .left {
          width: 100%;
        }
        .center {
          width: 100%;
          margin-top: 30px;
        }
        .right {
          margin-top: 30px;
          width: 100%;
          justify-content: flex-start;
        }
      }
      .left_ellipse {
        top: -30px;
        left: -200px;
      }
      .right_ellipse {
        top: -30px;
        right: -200px;
      }
    }
  }
}
